<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.viewwuyou.workflow.dao.ManagerMapper">
    <resultMap id="managerMap" type="com.viewwuyou.workflow.domain.Manager" extends="com.viewwuyou.workflow.dao.EmployeeMapper.employeeMap">
        <result column="dept_name" property="dept"/>
        <collection property="checks" javaType="ArrayList"
                    ofType="com.viewwuyou.workflow.domain.CheckBack" column="emp_id"
                    select="com.viewwuyou.workflow.dao.CheckBackMapper.findByMgrId"
                    fetchType="lazy"/>
        <collection property="employees" javaType="ArrayList"
                    ofType="com.viewwuyou.workflow.domain.Employee" column="emp_id"
                    select="com.viewwuyou.workflow.dao.EmployeeMapper.findByMgrId"
                    fetchType="lazy"/>
    </resultMap>

    <insert id="save" parameterType="com.viewwuyou.workflow.domain.Manager">
        insert into employee_inf values
        (null, 2, #{name}, #{pass}, #{salary}, null, #{dept});
    </insert>

    <update id="update" parameterType="com.viewwuyou.workflow.domain.Manager">
        update employee_inf set
        emp_name = #{name},
        emp_pass = #{pass},
        emp_salary = #{salary},
        dept_name = #{dept}
        where emp_id = #{id};
    </update>

    <delete id="delete">
        delete from employee_inf where emp_id = #{id};
    </delete>

    <select id="get" resultMap="managerMap">
        select * from employee_inf
        where emp_id = #{id};
    </select>

    <select id="findByNameAndPass" resultMap="managerMap">
        select * from employee_inf
        where emp_name = #{name} and emp_pass = #{pass};
    </select>

    <select id="findByName" resultMap="managerMap">
        select * from employee_inf
        where emp_name = #{name};
    </select>
    <cache/>
</mapper>